# Xcode
*.xcworkspace
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Build artifacts
build/
*.o
*.d

# User-specific Xcode settings
*.xcuserstate
project.xcworkspace/
